body {
background: url("/img/ilex_aquifolium.png") no-repeat right bottom;
background-attachment: fixed;
background-size: auto 80%;
}
@media only screen and (max-width: 768px) {
  body {
    background-size: contain;
  }
}
article {
  margin-top: 1.56rem;
}
article header h2{
  margin-bottom: 0.39rem;
}
article header h3{
  color: #929292;
  margin-bottom: 0.39rem;
  font-weight: 500;
}
.post-meta {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.56rem;
}
.post-meta div{
  margin-right: 20px;
}
